
*{
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body{
    min-height: 4096px;
}

h1{
    font-size: 0.5em;
    color: blue;
}

#footer {
    position: fixed;
    bottom: 0;
    height: 10vh; 
    width: 100%;
}
